/* basic elements */
html {
	margin: 0;
	padding: 0;
	background: #6984a0; 
	}
body { 
	background: #bbc6d3;
    padding: 50px;
	margin: auto; 
	width: 650px;
	font: 75% arial;
    border-left: 1px solid;
    border-right: 1px solid;
	}
p { 
    color: #0d0d0d;
	text-align: justify;
}
a:link { 
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #0d0d0d;
}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
a:visited:hover {
	font-weight: bold;
	text-decoration: none;
	color: #0d0d0d;
}

